<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coming Soon</title>
    <style>
body{
    background-color:#E4E4E4 ;
}
.dis{
    padding-left: 50px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #bbb;
    background-color: black;
    text-align: center;
  }

    </style>
</head>
<body>
    <div class="dis"><svg xmlns="http://www.w3.org/2000/svg" width="1079" height="366" viewBox="0 0 1079 366">
        <g id="Group_7" data-name="Group 7" transform="translate(-138 -1210)">
          <text id="Coming_soon" data-name="Coming soon" transform="translate(139 1540)" fill="#222" font-size="144" font-family="RifficFree-Bold, Riffic Free" font-weight="700"><tspan x="0" y="0">Coming soon</tspan></text>
          <g id="Ellipse_1" data-name="Ellipse 1" transform="translate(996 1402)" fill="#222" stroke="#707070" stroke-width="1">
            <ellipse cx="17" cy="18" rx="17" ry="18" stroke="none"/>
            <ellipse cx="17" cy="18" rx="16.5" ry="17.5" fill="none"/>
          </g>
          <g id="Ellipse_2" data-name="Ellipse 2" transform="translate(1030 1319)" fill="#222" stroke="#707070" stroke-width="1">
            <ellipse cx="38.5" cy="41.5" rx="38.5" ry="41.5" stroke="none"/>
            <ellipse cx="38.5" cy="41.5" rx="38" ry="41" fill="none"/>
          </g>
          <g id="Ellipse_3" data-name="Ellipse 3" transform="translate(1094 1210)" fill="#222" stroke="#707070" stroke-width="1">
            <ellipse cx="61.5" cy="54.5" rx="61.5" ry="54.5" stroke="none"/>
            <ellipse cx="61.5" cy="54.5" rx="61" ry="54" fill="none"/>
          </g>
        </g>
      </svg>
    </div>

    <footer>

      <h3 class="foot">Made with Love by Yoda</h3>
      
      </footer>
</body>
</html>